<script setup>
import { RouterLink, RouterView } from "vue-router";
</script>

<template>
  <div>
    <div class="navbar">
      <div class="navbar-top">
        <img
          alt="Vue logo"
          class="logo"
          src="@/assets/logo.svg"
          width="90"
          height="90"
        />
        <p>Vue.js</p>
      </div>
      <div class="nav-items">
        <li class="nav-link active">
          <a href="#">
            <font icon="user" />
            <span class="nav-text">User</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="#">
            <font icon="store" />
            <span class="nav-text">Product</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="#">
            <font icon="list-ul" />
            <span class="nav-text">Category</span>
          </a>
        </li>
        <!--  <li
          class="nav-link"
          :class="item.cname"
          @click="Show(index)"
          v-for="(item, index) in category"
          :key="item.id"  
        >
          <router-link :to="`/` + `${item.link}`">
            <font :icon="`${item.icon}`" />
            <span class="nav-text">{{ item.name }}</span>
          </router-link>
        </li> -->
      </div>
    </div>
    <div class="data-container">
      <div class="data-table">
        <form
          class="input-form"
          action="javascript:void(0)"
          method="POST"
          id="form"
        >
          <input type="input" id="add-input" placeholder="Add new" />
          <button class="save-btn" id="save" @click="add()">
            <font icon="plus-square" id="btn-icon" />
          </button>
        </form>
        <div class="items">
          <div class="item">
            <p>1</p>
            <p>Name</p>
            <p>Email</p>
            <div class="btns">
              <button class="btn"><font icon="trash-alt" /></button>
              <button class="btn"><font icon="edit" /></button>
            </div>
          </div>
        </div>
        <!--   <div class="items">
        <div class="item" v-for="(item, index) in data" :key="item.id">
          <p>{{ (index += 1) }}</p>
          <p class="text">{{ item.name }}</p>
          <div class="btns">
            <button class="btn" @click="remove(index - 1)">
              <font icon="trash-alt" />
            </button>
            <button class="btn" @click="edit(index - 1)">
              <font icon="edit" aria-hidden="true"></font>
            </button>
          </div>
        </div>
      </div> -->
      </div>
    </div>
  </div>
</template>

<style>
@import "./assets/css/style.css";
</style>
